services:
  router:
    restart: unless-stopped
    image: ghcr.io/itzg/mc-router:${MC_ROUTER_TAG:-latest}
    container_name: minecraft-router
    hostname: minecraft-router
    labels:
      diun.enable: true
      diun.watch_repos: true
      # traefik.enable: true
      # traefik.tcp.routers.minecraft.rule: HostSNI(`*`)
      # traefik.tcp.routers.minecraft.entrypoints: minecraft
      # traefik.tcp.routers.minecraft.service: minecraft
      # traefik.tcp.services.minecraft.loadbalancer.server.port: 25565
    environment:
      MAPPING: |
        ${PERSONAL_DOMAINE_NAME}=${PERSONAL_IP_SERVER}:25565
        play.${PERSONAL_DOMAINE_NAME}=${PERSONAL_IP_SERVER}:25566
    expose:
      - 25565
    networks:
      - webinternal

networks:
  webinternal:
    name: webinternal