services:
  homepage:
    restart: unless-stopped
    image: ghcr.io/gethomepage/homepage:${HOMEPAGE_TAG:-latest}
    container_name: homepage
    hostname: homepage
    labels:
      diun.enable: true
      diun.watch_repos: true
      traefik.enable: true
      # Redirection Root Domain
      traefik.http.routers.redirect.tls: true
      traefik.http.routers.redirect.middlewares: authelia@docker,redirect-to-www
      traefik.http.routers.redirect.entrypoints: websecure
      traefik.http.routers.redirect.rule: Host(`${PERSONAL_DOMAINE_NAME}`)
      traefik.http.middlewares.redirect-to-www.redirectregex.regex:  "^https?:\\/\\/(${PERSONAL_DOMAINE_NAME})(.*)"
      traefik.http.middlewares.redirect-to-www.redirectregex.replacement: "https://www.$${1}/$${2}"
      traefik.http.middlewares.redirect-to-www.redirectregex.permanent: false
      # homepage
      traefik.http.routers.homepage.tls: true
      traefik.http.routers.homepage.middlewares: authelia@docker
      traefik.http.routers.homepage.entrypoints: websecure
      traefik.http.routers.homepage.rule: Host(`www.${PERSONAL_DOMAINE_NAME}`)
      traefik.http.routers.homepage.service: homepage
      traefik.http.services.homepage.loadBalancer.server.port: 3000
    environment:
      TZ: Europe/Paris
      LOG_TARGETS: stdout
      HOMEPAGE_ALLOWED_HOSTS: www.${PERSONAL_DOMAINE_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/homepage/config:/app/config:ro
      - /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/homepage/images:/app/public/images:ro
      - /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/homepage/icons:/app/public/icons:ro
    networks:
      - webinternal
      - crowdsec

networks:
  crowdsec:
    name: crowdsec
    external: true
  webinternal:
    name: webinternal