services:
  gitlab:
    image: gitlab/gitlab-ee:${GITLAB_TAG:-18.3.1-ee.0}
    container_name: gitlab
    restart: unless-stopped
    hostname: 'gitlab.${PERSONAL_DOMAINE_NAME}'
    shm_size: '256m'
    labels:
      diun.enable: true
      diun.watch_repos: true
      traefik.enable: true
      traefik.docker.network: webinternal
      traefik.http.services.gitlab.loadBalancer.server.port: 80
      traefik.http.routers.gitlab.service: gitlab
      traefik.http.routers.gitlab.rule: Host(`gitlab.${PERSONAL_DOMAINE_NAME}`)
      traefik.http.routers.gitlab.entrypoints: websecure
      traefik.http.routers.gitlab.tls: true
      traefik.http.routers.gitlab.tls.certresolver: cloudflare
      traefik.http.services.registry.loadBalancer.server.port: 5050
      traefik.http.routers.registry.service: registry
      traefik.http.routers.registry.rule: Host(`registry.${PERSONAL_DOMAINE_NAME}`)
      traefik.http.routers.registry.entrypoints: websecure
      traefik.http.routers.registry.tls: true
      traefik.http.routers.registry.tls.certresolver: cloudflare
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.${PERSONAL_DOMAINE_NAME}'
        gitlab_rails['smtp_enable'] = true
        gitlab_rails['smtp_address'] = "mail.${MAIL_SERVER_DOMAIN_NAME}"
        gitlab_rails['smtp_port'] = 465
        gitlab_rails['smtp_user_name'] = "gitlab@${PERSONAL_DOMAINE_NAME}"
        gitlab_rails['smtp_password'] = "${MAIL_SERVER_PASSWORD}"
        gitlab_rails['smtp_domain'] = "${MAIL_SERVER_DOMAIN_NAME}"
        gitlab_rails['smtp_authentication'] = "login"
        gitlab_rails['smtp_enable_starttls_auto'] = false
        gitlab_rails['smtp_tls'] = true
        gitlab_rails['smtp_pool'] = true
        gitlab_rails['gitlab_email_from'] = 'gitlab@${PERSONAL_DOMAINE_NAME}'
        gitlab_rails['gitlab_email_reply_to'] = 'gitlab@${PERSONAL_DOMAINE_NAME}'
        gitlab_rails['gitlab_shell_ssh_port'] = 6322
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        nginx['redirect_http_to_https'] = true
        registry_external_url 'https://registry.${PERSONAL_DOMAINE_NAME}'
        registry_nginx['listen_port'] = 5050
        registry_nginx['listen_https'] = false
        gitlab_rails['registry_enabled'] = true
        postgresql['shared_buffers'] = "256MB"
        sidekiq['max_concurrency'] = 4
        sidekiq['concurrency'] = 1
        puma['worker_timeout'] = 120
        puma['worker_processes'] = 1
        letsencrypt['enable'] = false
        gitlab_rails['backup_archive_permissions'] = 0644
        prometheus_monitoring['enable'] = false
        gitlab_rails['gitlab_default_theme'] = 2
        gitlab_rails['gitlab_default_color_mode'] = 2
        gitlab_rails['initial_gitlab_product_usage_data'] = false
    ports:
      - "6322:22"
    volumes:
      -  /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/gitlab/config:/etc/gitlab
      -  /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/gitlab/logs:/var/log/gitlab
      -  /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/gitlab/data:/var/opt/gitlab
    networks:
      - gitlab
      - webinternal
    # healthcheck:
    #   disable: true

  gitlab-runner:
    image: gitlab/gitlab-runner:${RUNNER_TAG:-v18.3.0}
    container_name: gitlab-runner
    hostname: gitlab-runner
    restart: unless-stopped
    labels:
      diun.enable: true
      diun.watch_repos: true  
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/gitlab/runner/config:/etc/gitlab-runner
      - /${DOCKER_DATA_DIRECTORY:?data path is required}/docker/docker-data/gitlab/runner/home:/home/gitlab-runner
    networks:
      - gitlab
    # depends_on:
    #   gitlab:
    #     condition: service_healthy

networks:
  gitlab:
    name: gitlab
  webinternal:
    name: webinternal